 

#products{}
#products .total_pd{width:1200px; height:auto; margin:0 auto; padding:20px 0;}
#products .total_pd .sort_button{padding-bottom:20px;}
#products .total_pd .sort_button button{padding:10px 20px; background: #fff; border:1px solid #777; border-radius:4px; cursor: pointer;}
#products .total_pd .sort_button button:hover, #products .total_pd .sort_button button.active{background: #aaa;}

.pd_frame{width:100%; height:auto; padding:20px 20px 0; border: 1px solid #bbb; border-radius:4px; display: flex; justify-content:flex-start; flex-direction: row; align-items: flex-start;} 

.pd_frame .pd_box{width:calc(25% - 20px); height:auto; margin:0 10px 20px; border-bottom:1px solid #bbb; padding:10px;}
.pd_frame .pd_box .pd_photo{width:100%; height:200px; position: relative; overflow: hidden;}
.pd_frame .pd_box .pd_photo img{height:100%; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}

.pd_frame .pd_box .pd_info{width:100%; height:auto;}
.pd_frame .pd_box .pd_info .pd_title{font-size: 20px; color:#555; padding-top: 10px;}
.pd_frame .pd_box .pd_info .pd_text{font-size: 16px; color:#888; padding:10px 0;}
.pd_frame .pd_box .pd_info .pd_etc{width:100%; height:auto; border-top:1px solid #bbb; display:flex; justify-content: space-between; padding:10px 0;}
.pd_frame .pd_box .pd_info .pd_etc .pd_price{font-size: 16px; font-weight: bold;}
.pd_frame .pd_box .pd_info .pd_etc .pd_date{font-size: 14px;}

.pd_frame .pd_box .pd_info .fav{text-align: right; padding:0 0 10px;  font-size: 14px;}
.pd_frame .pd_box .pd_info .fav span{color:red;}


.pager{padding: 20px;text-align: center;font-size: 0;}
.pager li{width: 24px;top: 17px;line-height: 1;border-right: 1px solid #888;padding: 0 5px;display: inline-block;}
.pager li:last-child{border: none;}
.pager li.active{color: red;}